<div class="modal fade" id="movieModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalInfo.modalTitle }}</h5>
        <button
          type="button"
          class="close"
          (click)="closeModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group " id="title-group">
            <label for="title">Title</label>
            <input
              formControlName="title"
              id="title"
              class="form-control"
              type="text"
            />
            <div
              *ngIf="title.invalid && (formSubmited || title.touched)"
              class="input-alert"
            >
              <div *ngIf="title.errors.required">Title Is Required</div>
              <div *ngIf="title.errors.minlength">Title must be min 2 chr</div>
              <div *ngIf="title.errors.title">Title already exists</div>
            </div>
          </div>
          <div class="form-group">
            <label for="year">Year</label>
            <input
              formControlName="year"
              id="year"
              class="form-control"
              type="number"
            />
            <div *ngIf="year.invalid && formSubmited" class="input-alert">
              <div *ngIf="year.errors.required">Year Is Required</div>
              <div *ngIf="year.errors.min">Please Enter Valid Year</div>
            </div>
          </div>
          <div class="form-group">
            <label for="runtime">Runtime</label>
            <input
              formControlName="runtime"
              id="runtime"
              class="form-control"
              type="number"
            />
            <div *ngIf="runtime.invalid && formSubmited" class="input-alert">
              <div *ngIf="runtime.errors.required">
                Runtime Value Is Required
              </div>
              <div *ngIf="runtime.errors.min">
                Please Enter Valid Runtime Value
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="genre">Genre</label>
            <input
              formControlName="genre"
              id="genre"
              class="form-control"
              type="text"
            />
            <div *ngIf="genre.invalid && formSubmited" class="input-alert">
              <div *ngIf="genre.errors.required">
                Please Enter At List One Genre Type
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="director">Director</label>
            <input
              formControlName="director"
              id="director"
              class="form-control"
              type="text"
            />
            <div *ngIf="director.invalid && formSubmited" class="input-alert">
              <div *ngIf="director.errors.required">
                Director Name Is Required
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              [disabled]="!form.valid"
              type="submit"
              class="btn btn-success"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeModal()"
            >
              Close
            </button>
            <button
              id="close-modal"
              type="button"
              class="close"
              data-dismiss="modal"
            ></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
