<div class="modal fade" id="alertModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <button
          type="button"
          id="close-alert"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"><p>You are about to delte the movie card</p></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteMovie()">
          Yes i know
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
